@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@400;700&family=Yeseva+One&display=swap'); 
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Montserrat, serif; 
    font-weight: 400;
    color: rgb(18, 58, 71);
}
/*Headings and logo*/
h1, h2 {
    font-family: "Yeseva One", serif;
    color: rgb(0, 120, 139);
    letter-spacing: 2px;  
}
h2 {
    font-size: 2em;
    text-align: center;
    padding: 10px;
    
}
header img {
    width: 30%;
    height: 30%;
    margin-top: 15px;
    margin-left: 50px;
    float: left;
    line-height: 200px;
}
#menu {
    line-height: 200px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    font-size: 1.5em;
}
#menu a {
    text-decoration: none;
    color: rgb(32, 83, 100);
}
#menu a:hover {
    font-size: larger;
    color: rgb(61, 176, 143);
}
.active {
    border-bottom: 1px solid rgb(32, 83, 100);
}
    
/*section about*/
#about {
    overflow: hidden;
    width: 75%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    font-family: "Dancing Script", cursive;
    line-height: 1em;
    font-size: 1.5em;
    
}
/*why join*/
 .main {
    border-top: 2px solid rgb(32, 83, 100);
    padding: 30px;
    margin: 30px;
 }

/*footer*/
footer {
    height: 100px;
}
.contacts {
    text-align: center;
}
.contacts li {
    display: inline;
    list-style-type: none;
}
.contacts i {
    font-size: 100%;
    color: rgb(78, 63, 56);
    margin: 1%;
    padding: 3%;
    letter-spacing: 1px;
}


/*gallery page*/
#photos {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 10px;
}
#photos img {
    width: 100%;
}

