@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@400;700&family=Yeseva+One&display=swap'); 
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Montserrat, serif; 
    font-weight: 400;
    color: rgb(18, 58, 71);
    margin: 0 3%;
}
/*Headings and logo*/
h1, h2 {
    font-family: "Yeseva One", serif;
    color: rgb(0, 120, 139);
    letter-spacing: 2px;  
}
h2 {
    font-size: 2em;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}
header img {
    width: 25%;
    height: 25%;
    margin-top: 15px;
    margin-left: 50px;
    float: left;
    line-height: 150px;
}
#menu {
    line-height: 150px;
    display: flex;
    flex-direction: row-reverse;    
}
#menu li {
    list-style-type: none;
    margin-right: 50px;
    font-size: 1.5em;
    
}
#menu a {
    text-decoration: none;
    color: rgb(32, 83, 100);
}
#menu a:hover {
    font-weight: 700;
    color: rgb(61, 176, 143);
}
.active {
    border-bottom: 1px solid rgb(32, 83, 100);
}
@media screen and (max-width: 600px) {
    header img {
        width: 50%;
        height: 50%;
        margin-top: 10px;
        margin-left: 10px;       
    }
    #menu {
        flex-direction: column-reverse; 
        align-items: flex-end; 
        justify-content: flex-start; 
        line-height: 1.5em;
    }
    #menu li {
        list-style-type: none;
        margin-right: 0px;
        font-size: 85%;
    }
}
/*banner*/
#banner-container {
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
#banner   {
    background: url('../images/banner-photo.jpg') no-repeat center center;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}  
/*section about*/
#about {
    overflow: hidden;
    width: 40%;
    height: auto;
    padding: 15px;
    text-align: center;
    font-family: "Dancing Script", cursive;
    line-height: 1.5em;
    font-size: 1.5em;
    letter-spacing: 3px;
    background-color: rgba(246, 248, 248, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.bold {
    font-weight: bold;
}
/*reasons*/
.main {
    border-bottom: 2px solid rgb(32, 83, 100);
    padding: 30px 30px ;
    margin: 0 auto;
    height: auto;
 }
 h3 {
    color: rgb(32, 83, 100);
    margin: 20px 0;
    text-align: center;
    font-size: 1.4em;
 }
 .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    overflow: hidden;
}
  
 #left-reason {
    max-width: 30%;
    justify-content: space-around;

 }
 #center-reason {
    max-width: 30%;

 }

 #right-reason {
    max-width: 30%;
    justify-content: space-around;

 }
.main p {
    margin: 10px;
    text-align: justify;
} 
.flex i {
    color: rgb(0, 120, 139);
}
.main img {
    width: 300px;
    height: 300px;
    padding: 12px;
    border-style: solid;
    border-color: rgba(32, 83, 100, 0.5);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 20px;     
}
@media screen and (max-width: 600px) {
    .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        overflow: hidden;          
    }
    #left-reason {
        max-width: 100%;
        }
    #center-reason {
        max-width: 100%;
        }
    #right-reason {
        max-width: 100%;
        }
    .flex-img {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        }  
}
/*activities*/
#activities {
    background-image: url('../images/activities.jpg'); /* photo by Becca Tapert */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    overflow: hidden;
    align-items: center;
}
#activities div {
    background-color: rgba(246, 248, 248, 0.7);
    width: 15%;
    height: 170px;
    text-align: center;
    border: 3px solid white;
    box-sizing: border-box;
    align-items: center;
    border-radius: 15%;
}
.button-main {
    background-color: white;
    display: block;
    float: none;
    color: rgb(0, 120, 139);
    border-radius: 10px;
    padding: 15px 30px;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    margin: 50px 470px;
    border: 3px solid rgb(0, 120, 139);
}
.button-link {
    text-decoration: none;
    color: rgb(0, 120, 139);
}
.button-link:hover {
    font-size: 120%;
    font-weight: bold;
}
.map {
    margin: 0 15px 0 15px;
    
}
/*footer*/
footer {
    height: 100px;
}
.contacts {
    text-align: center;
}
.contacts li {
    display: inline;
    list-style-type: none;
}
.contacts i {
    font-size: 100%;
    color: rgb(18, 58, 71);
    margin: 1%;
    padding: 3%;
    letter-spacing: 1px;
}


/*gallery page*/
#photos {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 10px;
}
#photos img {
    width: 100%;
}
/*signup page*/
.form-section {
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    clear: right;
    width: 100%;
    margin-left: 50px;
        
}
.signup-form {
    color: white;
    background-color: rgba(0, 120, 139, 0.7);
    max-width: 35%;
    margin: 3% 5%;
    padding: 20px;
    line-height: 2em;
    height: 650px;
    border-radius: 5%;
}

legend {
    font-size: 1.3em;
    padding-top: 10px;
    text-transform: uppercase;
    
}
.text-input {
    border: 2px solid rgb(0, 120, 139);
    width: 90%;
    padding: 10px;
    font-size: 1em;
}
.checkbox-input {
    border: 2px solid rgb(0, 120, 139);
    padding: 10%;
    margin: 15px;
    font-size: 1em;
        
}
.button {
    background-color: white;
    display: block;
    color: rgb(0, 120, 139);
    border-radius: 10px;
    padding: 10px 30px;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    float: right;
    margin-right: 10%;
    margin-top: 10px;

}
.button:hover {
    font-size: 120%;
    font-weight: bold;
    border: 3px solid rgb(0, 120, 139);
    

}
/* For medium screen sizes from 950px wide and down*/

@media screen and (max-width: 950px) {
    /*form*/
    .form-section {
        width: 80%;
        margin-left: 10px;
            
    }
    .signup-form {
        
        max-width: 80%;
        margin: o auto;
           }
}
@media screen and (max-width: 480px) {
    /*form*/
    .form-section {
       
        width: 100%;
        margin-left: 10px;
            
    }
    .signup-form {
        
        max-width: 100%;
        margin: o auto;
           }
}