@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@400;700&family=Yeseva+One&display=swap'); 
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Montserrat, serif; 
    font-weight: 400;
    color: rgb(18, 58, 71);
}
/*Headings and logo*/
h1, h2 {
    font-family: "Yeseva One", serif;
    color: rgb(0, 120, 139);
    letter-spacing: 2px;  
}
h2 {
    font-size: 2em;
    text-align: center;
    padding: 10px;
}
header img {
    width: 30%;
    height: 30%;
    margin-top: 15px;
    margin-left: 50px;
    float: left;
    line-height: 200px;
}
#menu {
    line-height: 200px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    font-size: 1.5em;
}
#menu a {
    text-decoration: none;
    color: rgb(32, 83, 100);
}
#menu a:hover {
    font-size: larger;
    color: rgb(61, 176, 143);
}
.active {
    border-bottom: 1px solid rgb(32, 83, 100);
}
    
/*section about*/
#about {
    overflow: hidden;
    width: 75%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    font-family: "Dancing Script", cursive;
    line-height: 1em;
    font-size: 1.5em;
    
}
/*reasons*/
 .main {
    border-top: 2px solid rgb(32, 83, 100);
    padding: 20px;
    margin: 20px;
    height: auto;
 }
 #left-reason {
    float: left;
    width: 33%;
    padding-top: 20px;

 }
 #center-reason {
    margin: 0 auto;
    width: 33%;
    padding-top: 20px;

 }

 #right-reason {
    float: right;
    width: 25%;
    padding-top: 20px;

 }

/*footer*/
footer {
    height: 100px;
}
.contacts {
    text-align: center;
}
.contacts li {
    display: inline;
    list-style-type: none;
}
.contacts i {
    font-size: 100%;
    color: rgb(18, 58, 71);
    margin: 1%;
    padding: 3%;
    letter-spacing: 1px;
}


/*gallery page*/
#photos {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 10px;
}
#photos img {
    width: 100%;
}
/*signup page*/
.form-section {
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    clear: right;
    width: 100%;
    margin-left: 50px;
        
}
.signup-form {
    color: white;
    background-color: rgba(0, 120, 139, 0.7);
    max-width: 35%;
    margin: 3% 5%;
    padding: 20px;
    line-height: 2em;
    height: 650px;
    border-radius: 5%;
}

legend {
    font-size: 1.3em;
    padding-top: 10px;
    text-transform: uppercase;
    
}
.text-input {
    border: 2px solid rgb(0, 120, 139);
    width: 90%;
    padding: 10px;
    font-size: 1em;
}
.checkbox-input {
    border: 2px solid rgb(0, 120, 139);
    padding: 10%;
    margin: 15px;
    font-size: 1em;
        
}
.button {
    background-color: white;
    display: block;
    color: rgb(0, 120, 139);
    border-radius: 10px;
    padding: 10px 30px;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    float: right;
    margin-right: 10%;
    margin-top: 10px;

}
.button:hover {
    font-size: 120%;
    font-weight: bold;
    border: 3px solid rgb(0, 120, 139);
    

}
/* For medium screen sizes from 950px wide and down*/

@media screen and (max-width: 1000px) {

    header img {
        width: 30%;
        height: 30%;
        margin-top: 15px;
        margin-left: 10px;
        float: left;
        line-height: 200px;
    }
    #menu {
        
        float: none;
        margin-right: 20px;
        margin-top: 5%;
        line-height: 25px;
        font-size: 50%;
        letter-spacing: 0;
        
    }
    #menu li {
        word-spacing: 10 px;
             
       
        
    }
    
}